[submodule "vim.dotfile/bundle/vim-pathogen"]
	path = vim.dotfile/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim.dotfile/bundle/vim-scala"]
	path = vim.dotfile/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "vim.dotfile/bundle/play2vim"]
	path = vim.dotfile/bundle/play2vim
	url = https://github.com/gre/play2vim.git
[submodule "vim.dotfile/bundle/vim-sbt"]
	path = vim.dotfile/bundle/vim-sbt
	url = https://github.com/derekwyatt/vim-sbt.git
[submodule "vim.dotfile/bundle/vim-git"]
    path = vim.dotfile/bundle/vim-git
    url = https://github.com/tpope/vim-git.git
[submodule "vim.dotfile/bundle/vim-processing"]
	path = vim.dotfile/bundle/vim-processing
	url = https://github.com/rumblesan/vim-processing.git
[submodule "vim.dotfile/bundle/syntastic"]
	path = vim.dotfile/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim.dotfile/bundle/vim-colors-solarized"]
	path = vim.dotfile/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim.dotfile/bundle/vim-surround"]
	path = vim.dotfile/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim.dotfile/bundle/vim-coffee-script"]
	path = vim.dotfile/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim.dotfile/bundle/vim-airline"]
	path = vim.dotfile/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim.dotfile/bundle/vim-unite"]
	path = vim.dotfile/bundle/vim-unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "vim.dotfile/bundle/vim-tmux-navigator"]
	path = vim.dotfile/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim.dotfile/bundle/vim-syntax-extra"]
	path = vim.dotfile/bundle/vim-syntax-extra
	url = https://github.com/justinmk/vim-syntax-extra.git
[submodule "vim.dotfile/bundle/vimproc"]
	path = vim.dotfile/bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "vim.dotfile/bundle/vim-ruby"]
	path = vim.dotfile/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim.dotfile/bundle/vim-puppet-syntax"]
	path = vim.dotfile/bundle/vim-puppet-syntax
	url = https://github.com/puppetlabs/puppet-syntax-vim.git
