[submodule "vim.symlink/bundle/vim-pathogen"]
	path = vim.symlink/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim.symlink/bundle/html5.vim"]
	path = vim.symlink/bundle/html5.vim
	url = https://github.com/othree/html5.vim.git
[submodule "vim.symlink/bundle/vim-scala"]
	path = vim.symlink/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "vim.symlink/bundle/play2vim"]
	path = vim.symlink/bundle/play2vim
	url = https://github.com/gre/play2vim.git
[submodule "vim.symlink/bundle/vim-sbt"]
	path = vim.symlink/bundle/vim-sbt
	url = https://github.com/derekwyatt/vim-sbt.git
[submodule "vim.symlink/bundle/vim-git"]
	path = vim.symlink/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "vim.symlink/bundle/vim-processing"]
	path = vim.symlink/bundle/vim-processing
	url = git@github.com:rumblesan/vim-processing.git
[submodule "vim.symlink/bundle/vim-octopress"]
	path = vim.symlink/bundle/vim-octopress
	url = https://github.com/tangledhelix/vim-octopress.git
[submodule "vim.symlink/bundle/vim-liquid"]
	path = vim.symlink/bundle/vim-liquid
	url = https://github.com/tpope/vim-liquid.git
[submodule "notes.txt"]
	path = notes.txt
	url = git@github.com:rumblesan/notes.txt.git
[submodule "commiter8"]
	path = commiter8
	url = git@github.com:rumblesan/commiter8.git
[submodule "vim.symlink/bundle/syntastic"]
	path = vim.symlink/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim.symlink/bundle/vim-colors-solarized"]
	path = vim.symlink/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim.symlink/bundle/vim-repeat"]
	path = vim.symlink/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim.symlink/bundle/vim-surround"]
	path = vim.symlink/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim.symlink/bundle/vim-less"]
	path = vim.symlink/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim.symlink/bundle/vim-coffee-script"]
	path = vim.symlink/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim.symlink/bundle/puppet-syntax-vim"]
	path = vim.symlink/bundle/puppet-syntax-vim
	url = https://github.com/puppetlabs/puppet-syntax-vim
[submodule "zsh-notify"]
	path = zsh-notify
	url = https://github.com/marzocchi/zsh-notify
[submodule "vim.symlink/bundle/vim-mako"]
	path = vim.symlink/bundle/vim-mako
	url = https://github.com/sophacles/vim-bundle-mako.git
[submodule "vim.symlink/bundle/vim-jade"]
	path = vim.symlink/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "vim.symlink/bundle/vim-airline"]
	path = vim.symlink/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim.symlink/bundle/vim-clojure-static"]
	path = vim.symlink/bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule "vim.symlink/bundle/vim-fireplace"]
	path = vim.symlink/bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "vim.symlink/bundle/vim-classpath"]
	path = vim.symlink/bundle/vim-classpath
	url = https://github.com/tpope/vim-classpath.git
[submodule "vim.symlink/bundle/vim-unite"]
	path = vim.symlink/bundle/vim-unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "vim.symlink/bundle/vim-tmux-navigator"]
	path = vim.symlink/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
