<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.rumblesan.getemail.plist</string>
    <key>ProgramArguments</key>
        <array>
            <string>/Users/guy/.dotfiles/scripts/getemail.sh</string>
            <string>-u</string>
            <string>quiet</string>
        </array>
      <key>StandardErrorPath</key>
          <string>/Users/guy/.mylogs/getemail_err.log</string>
      <key>StandardOutPath</key>
          <string>/Users/guy/.mylogs/getemail.log</string>
      <key>StartInterval</key>
          <integer>300</integer>
</dict>
</plist>
